<div class="maincontainer">
  <header id="home" class="header">
    <div class="alert">
      <div class="container">
        <a href="#" class="logo">
          <img src="assets/images/logo.png">
        </a>
        <br>
        <br>
        <p class="alert-text">Limited Time Offer: Get 20% Off on Your First Purchase!</p>
      </div>
    </div>

    
  </header>

  <main>
    <article>
      <section class="section hero" aria-label="hero" data-section>
        <div class="container">
          <ul class="has-scrollbar">
            <li class="scrollbar-item">
              <div class="hero-card has-bg-image" style="background-image: url('assets/images/hero-banner-1.webp')">
                <div class="card-content1">
                  <h1 class="h1 hero-title">
                    Discover Excellence<br>
                    in Every Purchase
                  </h1>

                  <p class="hero-text">
                    Join our community of satisfied customers and experience 
                    premium quality products with exceptional service.
                  </p>

                  <p class="price">Premium Deals from ₹199</p>

                  <div class="button-group">
                    <a href="#" [routerLink]="['/login']" class="btn btn-primary">Login</a>
                    <a href="#" [routerLink]="['/signup']" class="btn btn-secondary">Register</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </article>
  </main>

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up" aria-hidden="true"></ion-icon>
  </a>

  <router-outlet></router-outlet>
</div>